<!DOCTYPE html>
<html ng-app="main">
	<head>
		<title>WikiAwesome</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		
		<!-- Set tab icon -->
		<link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png"/>
	</head>
	<body>
		{{{body}}}
	</body>
</html>