<!DOCTYPE html>
    <html ng-app="app">
    <head>
      <meta charset="utf-8">

        <!-- Angular Stuff -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

      <!-- Bootstrap Stuff -->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <!-- CSS scripts -->
      <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

      <!-- JS scripts -->
      <script type="text/javascript" src="javascripts/root.js"></script>  

      <title>Computer Languages</title>
    </head>

    <body ng-controller="mainController">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <a href="/#/"><img class="navbar-brand" alt="Brand" src="img/logoNav.jpg"></a>
              <h5>Computer Languages Wikipedia</h5>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/#/{{randomArticleSelected.title}}" ng-click="randomArticleSubmit()">Random Article</a>
            </li>
            <li>
              <a href="/#/newarticle">Create</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <!-- Search Bar -->
      <div id="wrap">
        <form autocomplete="on">

          <input ng-model="articleName" id="search" name="languageName" type="text" placeholder="What are you looking for ?">

          <input id="search_submit" ng-click="search()" value="Submit" type="submit">

        </form>
      </div>

      <div class="articleList">
        <div ng-repeat="article in articles">
          <a href="/#/{{article.title}}">{{article.title}}</a>
        </div>
      </div>
      
      <!-- Commented interactive search out for now -->
<!--       <div ng-class="searchResults" class="resulting-search" style="visibility:invisible">
        Searching for {{articleName}}
      </div>  -->
      <div ng-view></div>

    </body>
</html>