<div class="newWikiArticleClass">
	<h3 id="titleForNewLang">Create a new language</h3>
	<h5 ng-show="createdFromSearch" style="color:red">Article doesn't exist, but you can make one, fucker!</h5>
	<label for="ArticleTitle">Title: </label> <input type="text" ng-model="articleTitle" id="newTitle" name="ArticleTitle"> <br>

	<label for="ArticleContent">Content: </label> <input type="text" ng-model="articleContent" id="newContent" name="ArticleContent"> <br>

	<label for="pic">Upload Image: </label> <input type="file" ng-file-select ng-model="picFile" ng-file-change="console.log(picFile)" required name="file" accept="image/*"> <br>
	
	<button type="button" action="submit" ng-click="submitNewArticle(picFile)" class="btn btn-info">Submit</button>
</div>