<!-- Added this div here for the list to be present all the time -->

<!-- Detailed Wiki Article will pop-up -->
<div class="wikiDetail insert" ng-show="showProperty">
	<h1 style="color:#7f7fff">{{articleSearchedTitle}}</h1>
	<img class="article-image" ng-src = "{{articleSearchedImage}}"/>
	<p>{{articleSearchedContent}}</p> <br>
	<button type="button" action="submit" ng-click="editDetailArticle()" class="btn btn-info">Edit</button>
	
</div>

<div class="editArticleClass insert" ng-hide="showProperty">
	<label for="ArticleTitle">Title: </label> <input type="text" ng-model="articleTitleNew" id="newTitle" name="ArticleTitle"> <br>
	<textarea type="text" ng-model="articleContentNew" id="newContent" name="ArticleContent"/> <br>
	<label for="pic">Upload Image: </label> <input id="imagein" type="file" ng-file-select ng-model="picFile" required name="file" accept="image/*" > <br> <br>
	<button type="button" action="submit" ng-click="editingArticle(picFile)" class="btn btn-info">Done</button>
</div>